.full-width{
    padding: 20px;
    width: 100%;
    overflow: hidden;


  }
  
  .top-padding{
    padding-top: 3px;
  }
  
  .margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
  }
  
  
  /*
  .form-container{
    margin: 100px;
  }
  */

  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }