<div class="bg">
    <div style="height:100vh; width:100vw; display:flex; justify-content: center; align-items: center;">
        <div class="box"
            style="background-color: #fffafad1; display: flex; flex-direction: column; padding:2px 20px 20px 2px;gap: 5px; align-items: center;">
            <img src="assets/img/hero.svg" style="width:70%">
            <h1 class="banner_taital">Discover your location</h1>
            <br>
            <div class="login-box">
                <form method="POST">
                    <div class="user-box">
                        <input type="text" name="j_username" [(ngModel)]="username" required="">
                        <label>Nom d'utilisateur</label>
                    </div>
                    <br>
                    <div class="user-box">
                        <input type="password" name="j_password" [(ngModel)]="mdp" required="">
                        <label>Mot de passe</label>
                    </div>
                    <br>
                    <div class="btn_main">
                        <div class="contact_bt"><button type="submit" (click)="connexion()">Se connecter</button>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <p *ngIf="response==-1">Nom d'utilisateur ou Mot de passe invalid!</p>
                 <p>Vous n'avez pas de compte ?  <a routerLink="/Sinscrire">Sinscrire</a></p>
            </div>

        </div>
    </div>
</div>